.background>img{
    width: 100%;
    height: 100%;
    /* position: relative; */
    border-radius: 20px;
    /* top:50px */
}
.signup{
    /* border: 1px solid black; */
    width: 40%;
    background-color: whitesmoke;
    background: rgba(70, 180, 249, 0.4);
    border-radius: 10px;
    height: 480px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }
.signup-detail{
    /* border: 1px solid black; */
    width: 48%;
    border-radius: 40px 10px 10px 10px;
}
.signup-page{
    margin: 30px 0;
    display: flex;
    padding: 20px;
    /* border: 1px solid black; */
    width: 100%;
    top: 10%;
    /* left:3%; */
    justify-content: space-evenly;
    background-color : blue ;
    background: rgba(66, 188, 240, 0.3);
    border-radius : 90px 10px 100px 10px;
    height: 590px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.signup>input{
width: 80%;
margin-top: 10px;
margin-left: 10%;
padding: 10px;
border-radius: 20px;
border: 0px solid black;
}
.signup>input:hover{
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.signup>input:focus{
border: 0px solid black;
border-bottom: 3px solid rgb(30, 136, 229);
outline: none;
-webkit-transition: 0.2s;
transition: 0.2s;
}

.signup>button{
border-radius: 20px;
background-color: #142ea1;
color: white;
padding: 10px 20px;
width: 80%;
margin-top: 20px;
margin-left: 10%;
margin-bottom: 30px;
}
.signup>button:hover{
box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
background-color: #3d77eb;
color: #fefefe;
}
.signup>label{
font-size: large;
padding-left: 10%;
}
.signup>h1{
color: rgb(43, 18, 190);
font-size: 30px;
padding-left: 20px;
}
.signup>h1>span{
color: rgb(241, 246, 249);
}
.signup>span{
padding-left: 10%;
font-size: large;
color: #fefefe;
}
.log-btn{
color: #032f56; 
text-decoration: underline;
}

.signup-detail{
background: rgba(79, 190, 242, 0.4);
padding: 10px;
border: 0px solid red;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 
}
.signup-detail>h1{
  color: rgb(43, 18, 190);
font-size: 30px;
padding-left: 20px;
}
.signup-detail>h1>span{
  color: rgb(43, 18, 190);
}
.signup-detail>h1>span>span{
color: rgb(255, 255, 255);
}
.signup-detail>img{
/* opacity: 100%; */
border-radius: 10px;
margin-top: 10px;
margin-bottom: 10px;
}
.signup-detail>h3{
color: #fefefe;
font-size: large;
text-align: left;
}


/*   <==============    Tablet View     ===============>       */

@media only screen and (max-width: 820px) {
.signup-detail{
    display: none;
}
.signup-page{
    height: 500px;
}
.signup{
    width: 90%;
    height: 460px;
    margin-top: 1px;
   
    }

}

/*   <==============    Mobile View     ===============>       */

@media only screen and (max-width: 380px) {
 
        .signup-detail{
            display: none;
        }
        .signup-page{
            height: 500px;
            padding: 2px;
            background: rgba(100, 196, 238, 0.2);
            border: 0px ;
        }
        .signup{
            width: 100%;
            height: 500px;
            margin-top: 2px;
            left:4px
        }
        .background>img{
            width: 100%;
            height: 450px;
            position: relative;
            border-radius: 20px;
            top:50px
        }    
}