.background>img{
    width: 100%;
    height: 620px;
    position: relative;
    top:50px
}
.signup{
    top:50px;
    border: 1px solid black;
    width: 40%;
    background-color: whitesmoke;
    background: rgba(197, 128, 106, 0.498);
    border-radius: 10px;
    height: 500px;
    margin-top: 70px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: ease-in;
}
.signup-detail{
    border: 1px solid black;
    width: 48%;
    border-radius: 40px 10px 10px 10px;
}
.signup-page{
    position: absolute;
    display: flex;
    padding: 20px;
   border: 1px solid black;
    width: 90%;
    top: 7%;
    left:5%;
    justify-content: space-evenly;
    /* background-color : blue ; */
    background: rgba(197, 128, 106, 0.3);
    border-radius : 90px 10px 100px 10px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.signup>input{
width: 80%;
margin-top: 10px;
margin-left: 10%;
padding: 10px;
border-radius: 20px;
border: 0px solid black;
}
.signup>input:hover{
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.signup>input:focus{
border: 0px solid black;
border-bottom: 3px solid rgb(30, 136, 229);
outline: none;
-webkit-transition: 0.2s;
transition: 0.2s;
}

.signup>button{
border-radius: 20px;
background-color: rgb(201, 150, 10);
padding: 10px 20px;
width: 80%;
margin-top: 20px;
margin-left: 10%;
margin-bottom: 30px;
}
.signup>button:hover{
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
background-color: rgb(239, 178, 10);
color: #fefefe;
}
.signup>label{
font-size: large;
padding-left: 10%;
}
.signup>h1{
color:rgb(239, 178, 10);
font-size: 30px;
padding-left: 20px;
}
.signup>h1>span{
color: rgb(241, 246, 249);
}
.signup>span{
padding-left: 10%;
font-size: large;
color: #fefefe;
}
.log-btn{
color: #032f56; 
text-decoration: underline;
}

.signup-detail{
background: rgba(197, 128, 106, 0.1);
padding: 10px;
border: 0px solid red;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 
}
.signup-detail>h1{
color: rgb(240, 182, 9);
font-size: 30px;
padding-left: 20px;
}
.signup-detail>h1>span{
color: rgb(239, 178, 10);
}
.signup-detail>h1>span>span{
color: rgb(255, 255, 255);
}
.signup-detail>img{
opacity: 80%;
border-radius: 10px;
margin-top: 10px;
margin-bottom: 10px;
}
.signup-detail>h3{
color: #fefefe;
font-size: large;
text-align: left;
}


  /*   <==============    Tablet View     ===============>       */
  
  @media only screen and (max-width: 820px) {
    .signup-detail{
        display: none;
    }
    .signup-page{
        height: 460px;
    }
    .signup{
        width: 70%;
        height: 400px;
        margin-top: 40px;
        }
    
    }
    
    /*   <==============    Mobile View     ===============>       */
    
    @media only screen and (max-width: 380px) {
     
            .signup-detail{
                display: none;
            }
            .signup-page{
                height: 430px;
                padding: 2px;
                background: rgba(147, 178, 191, 0.2);
                border: 0px ;
            }
            .signup{
                width: 100%;
                height: 400px;
                margin-top: 2px;
                left:4px
            }
            .background>img{
                width: 100%;
                height: 450px;
                position: relative;
                border-radius: 20px;
                top:50px
            }
            
            
    }